{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<div class="content-selection" style="padding:5%;">
    <form method ="POST" action="">
        {{ animForm.hidden_tag() }}
        <fieldset class = "form-group">
            <legend class="border-bottom">Add Animal</legend>
            <div class="form-group">
                {{animForm.name_animal.label(class="form-control-label")}}
                {{animForm.name_animal(class="form-control form-control-lg")}}
            </div>
            <div class="form-group">
                {{animForm.desc_animal.label(class="form-control-label")}}
                {{animForm.desc_animal(class="form-control form-control-lg")}}
            </div>
            <div class="form-group">
                {{animForm.endangered_animal.label(class="form-control-label")}}
                {{animForm.endangered_animal(class="form-control form-control-lg")}}
            </div>

            <div class="d-flex justify-content-center">
                <button id="addFields" class ="btn btn-outline-info">Add Field</button>
            </div>

        </fieldset>
        <div class="form-group">
            {{animForm.submit(class="btn btn-outline-info")}}
        </div>
    </form>
</div>

<div style="padding:5%" class = "container-fluid">
    <h3>Delete Animals</h3>
    {% for animal in allAnim %}
    <button class="btn btn-outline-danger">Delete {{animal.name_animal}}</button>
    {% endfor%}
</div>


<div style="padding:5%" class = "container-fluid">
    <h3>Edit Animals</h3>
    {% for animal in allAnim %}
    <button class="btn btn-outline-warning">Edit {{animal.name_animal}}</button>
    {% endfor%}
</div>

<script>
    function addFields(){

    }
</script>

{% endblock %}
