{% extends "layout.html" %}
{% block title %}Animals{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      {% for animal in allAnim%}
        <div class="col-sm-4 d-flex align-items-stretch">
          <div class="card">
            <!--Replace line ten with boolean that checks if image exists-->
            {% if animal.image_url %}
              <img src="{{ animal.image_url }}" style="width:40%;height:40%;">
            {% else %}
              <img src="static/img/default.png" style="width:600px;height:450px;">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{animal.name_animal}}</h5>
              <p class="card-text">{{animal.desc_animal}}</p>
              <a href="/animals/{{animal.id_animal}}" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}