{% extends "layout.html" %}
{% block title %}Animals{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      {% for animal in allAnim%}
        <div class="col-sm-4 d-flex align-items-stretch">
          <div class="card">
            <img class="card-img-top" src="static/img/default.png" >
            <div class="card-body">
              <h5 class="card-title">{{animal.name_animal}}</h5>
              <p class="card-text">{{animal.desc_animal}}</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}