{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<!--Section: Contact v.2-->
<section class="mb-4 container">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a reasonable time to help you.</p>

    <div class="content-selection" style="padding:5%;">
        <form method ="POST" action="{{ url_for('contact') }}">
            {{ contForm.hidden_tag() }}
            <fieldset class = "form-group">
                <!-- <legend class="border-bottom">Contact Form:</legend> -->
                <div class="form-group">
                    {{contForm.name.label(class="form-control-label")}}
                    {{contForm.name(class="form-control form-control-lg")}}
                </div>
                <div class="form-group">
                    {{contForm.email.label(class="form-control-label")}}
                    {{contForm.email(class="form-control form-control-lg")}}
                </div>
                <div class="form-group">
                    {{contForm.subject.label(class="form-control-label")}}
                    {{contForm.subject(class="form-control form-control-lg")}}
                </div>
                <div class="form-group">
                    {{contForm.message.label(class="form-control-label")}}
                    {{contForm.message(class="form-control form-control-lg")}}
                </div>
              </fieldset>
            <div class="form-group">
                {{contForm.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>


</section>
<!--Section: Contact v.2-->

{% endblock %}
