{% extends "layout.html" %}
{% block title %}Events{% endblock %}
{% block content %}
<section class="">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center">Our Events</h2>


  <!-- <div class="center text-center" style="padding:5%;">
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%230B8043&amp;ctz=America%2FLos_Angeles&amp;src=YXBybzIzMjRAZ21haWwuY29t&amp;<iframe src="https://calendar.google.com/calendar/embed?height=800&amp;wkst=1&amp;bgcolor=%230B8043&amp;ctz=America%2FLos_Angeles&amp;src=YXBybzIzMjRAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043&amp;showTitle=1&amp;showNav=1&amp;showCalendars=0" style="border:solid 1px #777" width="1200" height="800" frameborder="0" scrolling="no"></iframe>

  </div> -->

  <!-- <h1 class="text-center">Upcoming Events</h1> -->
  <br>
  {% for event in events%}
  <div class="container">

    <div class="row">
      <div class="col-lg">
        <div class="event">
          <div class="event-date">
            <h2>{{event[0]}}</h2>
          </div>
          <div class="event-desc">
            <p>{{event[1]}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <figure class="figure">
        <img src=../static/img/{{event[2]}} class="figure-img img-fluid rounded">
        <figcaption class="figure-caption">{{event[3]}}</figcaption>
      </figure>
      </div>
    </div>
  </div>

  {% endfor %}

  <div class="container">
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="">See the calendar</button>
  </div>
</section>
<br>
{% endblock %}
