{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container-fluid" style="background: url(../static/img/bgimg.jpg) center / cover;">
    <img id="img-logo" class="img-fluid" src="../static/img/mzoo.png">
    <p style="text-align:center;color:white">_________________________________</p>
    <p id="img-subtitle">A Sanctuary for Wild Animals</p>
</div>


<div id="sect-head" class="container-fluid">
    <p>
        Applegate Park Zoo has been home to many wild animals which, due to injuries or other conditions, could not be
        released to the wild or were surplus animals from other zoos. A regional theme has been adopted by the zoo,
        focusing on native species of animals and plants of the Central San Joaquin Valley and the nearby Sierra Nevada
        Mountains.
    </p>

</div>
<div class="parallax" style="background-image: url('../static/img/bear.jpg');">
    <div id="parallax-frame" class="container-fluid">
        <h1>About the Zoo</h1>
    </div>
</div>

<div id="content-frame" class="container-fluid">
    <h2 id="content-head">Mission Statement</h2>
    <p>The master plan for our zoo's future provides for increasing the number of exhibits as well as the development of
        each exhibit to replicate the natural habitats of the native birds, mammals, and reptiles that live here at the
        zoo. The Merced Garden Club, local 4H Clubs and others assist the zoo by planting and maintaining very
        attractive landscaping in several locations around the zoo. The Rossotti Ed-Zoo-Cation Center was opened in
        August 2009 to provide a venue for a variety of educational programs.
    </p>
</div>

<div id="content-frame" class="container-fluid">
    <h2 id="content-head">Purpose</h2>
    <p>Providing a home for recused animals whose lives were in danger and are unable to be released back into the wild
        is our top priority at this zoo.

        We provide behind the scenes tours in which guests may be able to feed our bears, raccoons and monkeys. You may
        also play with our bobcats with a peacock feather. To find out more click here.

        The Merced Zoo periodically holds community events such as Lights Before Christmas, Zoo Boo, Pirates and
        Princesses and so much more. You can check out our events by clicking here.
    </p>
</div>

<div id="content-frame" class="container-fluid">
    <h2 id="content-head">History of the Zoo</h2>
    <p>Applegate Park is the oldest park in Merced, purchased in part with a bequest by Lewis H. Applegate for the
        citizens and visitors of Merced in the 1920's. Birds and other animals were donated to the City over the years
        and cages were built in the park to house them. By 1960, the Recreation and Parks Commission and the City of
        Merced saw the need to construct better facilities for the welfare of the animals. Applegate Park Zoo was
        constructed at its current location in 1961-62, providing new and improved accommodations for the ever-expanding
        collection of birds, mammals, and reptiles.
    </p>
</div>



<div class="parallax" id="sect-head" style="background-image: url('../static/img/deer.jpg');">
    <div id="parallax-frame">
        <h1>FAQ</h1>
    </div>
</div>

<div id="content-frame" class="container-fluid">
    <h2 id="content-head">What is the Merced Zoo Society?</h2>
    <p>
        The Merced Zoological Society is a non-profit organization established in 1983 to help improve Applegate Park
        Sanctuary/Wildlife Center for both the animals and visitors. MZS provides the city with one-third of the zoo’s
        annual operating budget. The society's office phone number is (209) 725-DEER. The society meets at 7:00 P.M. on
        the 3rd Tuesday of each month. Please join us!
    </p>
</div>
<div id="content-frame" class="container-fluid">
    <h2 id="content-head">How can you help the zoo and contibute?</h2>
    <p>
        The zoo is a non-profit organization in which most donations (of any type) are tax deductible. Find out more
        about donations by clicking here. We are always seeking help from our community with volunteers. Volunteers have
        an important role in our zoo’s success. If you would like to join our team or want more information please click
        here.
    </p>
</div>
<div id="content-frame" class="container-fluid">
    <h2 id="content-head">Why are we popular?</h2>
    <p>
        The zoo is one of the most visited locations in Merced, California. We want to ensure our visitors have a
        positive and educational visit that create memories that last a lifetime.
    </p>
</div>
<div id="content-frame" class="container-fluid">
    <h2 id="content-head">Is there a gift shop?</h2>
    <p>
        Yes, the zoo has an amazing gift shop to remember your experience with us!
    </p>
</div>

{% endblock %}